html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

body
{
margin:0;
padding: 0;
background: url('image/logbg.jpg ');
background-size:cover;
font-family: sans-serif;

}

/*my code*/

.heaading{
 font-size: 20px;
 font-family: kunstler script;

}
.loginform
{
	position: absolute;
	margin-top:60px;
	margin-left:31.2%;
	width:580px;
	height:500px;
    border:2.5px solid white;
    border-radius: 20px;
    box-shadow: 8px 25px 25px #333;

}
.user
{
	width: 100px;
	height:100px;
	margin-top:-50px;
	margin-left:239px;
	border-radius: 50px;
   border:2px solid black;
   overflow:hidden;
   background:#fff;
}

legend
	{
	margin-right: auto;
	margin-left: auto;
	display: block;


}
label
{   font-size: 22px;
	font-weight: bold;
	color:#000;
	
	text-transform: uppercase;
	margin-left: 15px;
}
h2
{
	padding: 0 0 20px;
	text-align:center;
	color:#000;
	font-family: arial;
	font-size:28px;
}
input
{
	margin-bottom: 20px;
	margin-left: 45%;
    height: 35px;
}

.loginform input[type="text"],.loginform input[type="password"]
{
 height:35px;
 width:75%;
 margin-left:80px;
 border:1.5px solid blue;
 margin-bottom: 20px;
 color:#000;
 background: rgba(235, 235, 224,0.5);
 font-size: 22px;

}
.b1
{
	height:50px;
	width:50%;
	color:White;
	font-size:18px;
	background-color: #000;
	letter-spacing: 2px;
	border-radius: 15px;
    cursor: pointer;
}

.b1:hover
{   
    font-family: arial;
	letter-spacing: 3px;
    font-size: 25px;
    background-color:  #000;
    box-shadow:10px 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,1);	
}

.loginform a
{  
	color:red;
	text-decoration: none;
	font-size: 25px;
	letter-spacing: 0.6px;
}
a:hover
{
	font-size: 25px;
	color: red;
}
h1
{
	font-family: Rosewood Std;
	font-size: 55px;
	letter-spacing: 4px;


}
#dd
{
	border-radius: 20px;
	height:35px;
    width:75%;
	border:1.5px solid blue;
    margin-left:80px;
    color:black;
    font-size: 20px;
    font-family: Verdana;
    background-color:rgba(255,0,0,0);
}
td{
	padding-left: 15px;
}

ul{
    position: absolute;
    top: 60px;
    display: none;
}

 ul li:hover > ul{
    display: block;
}

 ul li{
    width: 150px;
    float: none;
    display: list-item;
    position: relative;
}
